<!-- -----------------------------------------------Navigation-------------------------------------- -->
<ul class="page-breadcrumb breadcrumb">
	<li><a href="#/">Accueil</a> <i class="fa fa-circle"></i> </i>
	<li><a href="#">Administration</a> <i class="fa fa-circle"></i></li>
	<li><span class="active">Unités d'Enseignement</span></li>
</ul>
<!-- -------------------------------------------END Navigation---------------------------------------- -->
<div class="page page-table" data-ng-controller="UEController">
	<!-- ---------------------------------------Note pour la gestion-------------------------------------- -->
	<!-- 	<div class="container" style="width: 100%;"> -->
	<div class="row">
		<div class="col-md-12">
			<div class="portlet green-sharp box">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-info"></i>Gestion des unités d'enseignement
					</div>
					<div class="tools">
						<a class="remove" data-original-title title></a>
					</div>
					<div class="tools">
						<a class="collapse" data-original-title title></a>
					</div>
				</div>
				<div class="portlet-body collapse" style="display: block;">
					<p>Cette page permet de consulter et lister les unités
						d'enseignement l'ensemble des formations du d&eacute;partement
						informatique de l'UBO.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- -----------------------------------END--Note pour la gestion-------------------------------------- -->
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-social-dribble font-red"></i> <span
					class="cpation-subject font-red bold uppercase">Unités
					d'Enseignement</span>
			</div>
			<!-- -----------------------------Recherche--------------------------------------- -->
			<div>
				<!-- ------------------------Bouton ajouter--------------------------------------- -->
				<button class="btn blue" ng-click="ajoutUE()">
					Nouvelle unité d'enseignement<i class="fa fa-plus"></i>
				</button>
				<div class="row">
					<span style="float: right;" class="col-sm-4 col-xs-6"> <input
						type="text" placeholder="Rechercher" class="form-control"
						data-ng-model="searchKeywords" data-ng-keyup="search()">
					</span>
				</div>
			</div>
			<!----------------------------------------La table de liste ---------------------------------------->
			<div class="portlet-body">
				<table class="table-scrollable">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th><div class="th">
										D&eacute;signation <span
											class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('designation') "
											data-ng-class="{active: row == 'designation'}"></span> <span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-designation') "
											data-ng-class="{active: row == '-designation'}"></span>
									</div></th>
								<th><div class="th">
										Sigle <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('codeUe') "
											data-ng-class="{active: row == 'codeUe'}"></span> <span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-codeUe') "
											data-ng-class="{active: row == '-codeUe'}"></span>
									</div></th>
								<th><div class="th">
										Responsable <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('email') "
											data-ng-class="{active: row == 'email'}"></span> <span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-email') "
											data-ng-class="{active: row == '-email'}"></span>
									</div></th>
								<th><div class="th">
										Formation <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('codeFormation') "
											data-ng-class="{active: row == 'codeFormation'}"></span> <span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-codeFormation') "
											data-ng-class="{active: row == '-codeFormation'}"></span>
									</div></th>
								<th><div class="th">
										Semestre <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('semestre') "
											data-ng-class="{active: row == 'semestre'}"></span> <span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-semestre') "
											data-ng-class="{active: row == '-semestre'}"></span>
									</div></th>
								<th colspan="3"><div class="th">
										Heures
									</div></th>
								<th class="searchResult" colspan="3"><i>Affiche :
										{{currentPageUE.length}} / {{ue.length}}</i></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="u in currentPageUE | orderBy:'designation'"" class="ue">
								<td>{{u.designation}}</td>
								<td>{{u.uniteEnseignementPK.codeUe}}</td>
			                    <td>{{u.noEnseignant.prenom}} {{u.noEnseignant.nom}}</td>
			                    <td>{{u.uniteEnseignementPK.codeFormation}}</td>
			                    <td>{{u.semestre}}</td>
                    			<td><b>CM : </b>{{u.nbhCm}}</td>
                    			<td><b>TD : </b>{{u.nbhTd}}</td>
                    			<td><b>TP : </b>{{u.nbhTp}}</td>
								<td id="iconGestion" ng-click="afficher(u)">
									<a href="#" data-toggle="tooltip" data-placement="top" title="Afficher les d&eacute;tails">
									<span class="fa fa-eye"></span></a></td>
			                    <td id="iconGestion" ng-click="modifier(u)">
			                    	<a href="#" data-toggle="tooltip" data-placement="top" title="Editer">
			                    	<span class="glyphicon glyphicon-edit"></span></a></td>
			                    <td id="iconGestion" ng-click="supprime(u.uniteEnseignementPK)">
			                    	<a href="#" data-toggle="tooltip" data-placement="top" title="Supprimer">
			                    	<span class="glyphicon glyphicon-trash"></span></a></td>
							</tr>
						</tbody>
					</table>
					<!-- -------------------------------Footer ----------------------- -->
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span> Affiche <select data-ng-model="numPerPage"
									data-ng-options="num for num in numPerPageOpt"
									data-ng-change="onNumPerPageChange()">
								</select> par page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm" ng-model="currentPage"
									total-items="filteredUE.length" max-size="4"
									ng-change="select(currentPage)" items-per-page="numPerPage"
									rotate="false" boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
		</div>
	</div>
</div>