<!-- @Author Zouhair Je-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li>
		<a href="#">Accueil</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Tableau de bord
	</li>
</ul>
<div ng-controller="DashboardController" class="margin-top-10">
	<div class="note note-success note-shadow">
		<h3> Bienvenue <span class="close" data-close="note"></span></h3>
		<p>
			Bienvenue dans le Syst&egrave;me d'Information pour le Suivi, la Pr&eacute;paration et l'Insertion professionnelle (SPI)
		</p><!-- 
		<span class="label label-info">NOTE:</span> blablablabl abla bla bbla.
		</p> -->
	</div>
	<div class="row">
		<!---------------------------------------- Enseignants  ---------------------------------------->
		<div ng-show="user=='ADM'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat purple">
				<div class="visual">
					<i class="fa fa-user"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreEnseignants}}">{{nombreEnseignants}}</span>
					</div>
					<div class="desc">Enseignants</div>
				</div>
				<a class="more" href="#/enseignants">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- ETUDIANTS  ---------------------------------------->
		<div ng-show="user=='ADM'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat grey-salsa">
				<div class="visual">
					<i class="fa fa-users"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreEtudiants}}">{{nombreEtudiants}}</span>
					</div>
					<div class="desc">Etudiants</div>
				</div>
				<a class="more" href="#/etudiants">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- RUBRIQUES  ---------------------------------------->
		<div ng-show="user=='ADM'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat yellow-gold">
				<div class="visual">
					<i class="fa fa-file-text"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreRubriques}}">{{nombreRubriques}}</span>
					</div>
					<div class="desc">Rubriques standards</div>
				</div>
				<a class="more" href="#/rubriques">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- Evaluations  ---------------------------------------->
		<div ng-show="user=='ENS'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat green-jungle">
				<div class="visual">
					<i class="fa fa-list-alt"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreEvaluations}}">{{nombreEvaluations}}</span>
					</div>
					<div class="desc">Evaluations</div>
				</div>
				<a class="more" href="#/evaluations">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- Evaluations Concernant Un Etudiant---------------------------------------->
		<div ng-show="user=='ETU'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat purple">
				<div class="visual">
					<i class="fa fa-list-alt"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreEtudiantEvaluations}}">{{nombreEtudiantEvaluations}}</span>
					</div>
					<div class="desc">Evaluations</div>
				</div>
				<a class="more" href="#/etudiantEvaluations">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- Unités d'enseignement  ---------------------------------------->
		<div  ng-show="user=='ADM'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat green-jungle">
				<div class="visual">
					<i class="fa fa-list-alt"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreUEs}}">{{nombreUEs}}</span>
					</div>
					<div class="desc">Unit&eacute; d'enseignement</div>
				</div>
				<a class="more" href="#/ue">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- Formations  ---------------------------------------->
		<div  ng-show="user=='ADM'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue-soft">
				<div class="visual">
					<i class="fa fa-list-alt"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreFormations}}">{{nombreFormations}}</span>
					</div>
					<div class="desc">Formations</div>
				</div>
				<a class="more" href="#/formations">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- Elements Constitutifs  -------------------------------->
		<div  ng-show="user=='ADM'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat yellow-casablanca">
				<div class="visual">
					<i class="fa fa-list-alt"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreEC}}">{{nombreEC}}</span>
					</div>
					<div class="desc">&Eacute;lements Constitutifs</div>
				</div>
				<a class="more" href="#/ec">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- Questions  ---------------------------------------->
		<div ng-show="user=='ADM'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat yellow-saffron">
				<div class="visual">
					<i class="fa fa-question-circle"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreQuestions}}">{{nombreQuestions}}</span>
					</div>
					<div class="desc">Questions standards</div>
				</div>
				<a class="more" href="#/questions">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- Promotions  ---------------------------------------->
		<div ng-show="user=='ADM'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue">
				<div class="visual">
					<i class="glyphicon glyphicon-book"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombrePromotions}}">{{nombrePromotions}}</span>
					</div>
					<div class="desc">Promotions</div>
				</div>
				<a class="more" href="#/promotions">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<!---------------------------------------- Qualificatifs  ---------------------------------------->
		<div ng-show="user=='ADM'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat red-intense">
				<div class="visual">
					<i class="fa fa-bookmark-o"> </i>
				</div>
				<div class="details">
					<div class="number">
						<span data-counter="counterup" data-value="{{nombreQualificatifs}}">{{nombreQualificatifs}}</span>
					</div>
					<div class="desc">Qualificatifs</div>
				</div>
				<a class="more" href="#/qualificatifs">Afficher la liste<i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
	</div>
</div>