<!-- @Author Zouhair -->
<!-- -----------------------------------------------Navigation-------------------------------------- -->
<ul class="page-breadcrumb breadcrumb">
	<li><a href="#/">Accueil</a> <i class="fa fa-circle"></i> </i>
	<li><a href="#">Administration</a> <i class="fa fa-circle"></i></li>
	<li><span class="active">Questions standards</span></li>
</ul>
<!-- -------------------------------------------END Navigation---------------------------------------- -->
<!-- @Author Zouhair -->

<div class="page page-table" data-ng-controller="QuestionsController">
	<!-- ---------------------------------------Note pour la gestion-------------------------------------- -->
	<div class="row">
		<div class="col-md-12">
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-info"></i>Gestion des questions standards
					</div>
					<div class="tools"><a class="remove" data-original-title title></a></div>
					<div class="tools"><a class="collapse" data-original-title title></a></div>
				</div>
				<div class="portlet-body">
					<p>
						Cette page permet la gestion des questions standards.</br> Consulter,
						mettre &agrave; jour, supprimer et ajouter les questions standards
						composant les rubriques d'une &eacute;valuation.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- -----------------------------------END--Note pour la gestion-------------------------------------- -->
	<!-- --------------------------------------- LA GESTION ----------------------------------------------- -->
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-social-dribble font-red"></i> <span
					class="cpation-subject font-red bold uppercase">Questions standards</span>
			</div>
			<div>
				<!-- ------------------------Bouton ajouter--------------------------------------- -->
				<button class="btn blue" ng-click="ajoutQuestion()">
					Nouvelle question<i class="fa fa-plus"></i>
				</button>
				<!-- -----------------------------Recherche--------------------------------------- -->
				<div class="row">
					<span style="float: right;" class="col-sm-4 col-xs-6"> <input
						type="text" placeholder="Rechercher" class="form-control"
						data-ng-model="searchKeywords" data-ng-keyup="search()">
					</span>
				</div>
			</div>
			<!----------------------------------------La table de liste ---------------------------------------->
			<div class="portlet-body">
				<table class="table-scrollable">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th><div class="th">
											Intitul&eacute; <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('intitule') "
											data-ng-class="{active: row == 'intitule'}"></span> <span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-intitule') "
											data-ng-class="{active: row == '-intitule'}"></span>
									</div>
								</th>
								<th>
									<strong>Couple qualificatif</strong>
								</th>
							</tr>
						</thead>
						<tbody>
					<tr data-ng-repeat="q in currentPageQuestion | orderBy:'intitule'" class="question">
								<td>{{q.intitule}}</td>
								<td>{{q.idQualificatif.minimal}} - {{q.idQualificatif.maximal}}</td>
								<td id="iconGestion" ng-click="show(q)">
									<a href="#" data-toggle="tooltip" data-placement="top" title="Afficher les d&eacute;tails">
									<span class="fa fa-eye"></span></a></td>
								<td id="iconGestion" ng-click="edit(q)">
			                    	<a href="#" data-toggle="tooltip" data-placement="top" title="Editer">
			                    	<span class="glyphicon glyphicon-edit"></span></a></td>
								<td id="iconGestion" ng-click="supprime(q)">
			                    	<a href="#" data-toggle="tooltip" data-placement="top" title="Supprimer">
			                    	<span class="glyphicon glyphicon-trash"></span></a></td>
							</tr>
						</tbody>
					</table>
					<!-- -------------------------------Footer ----------------------- -->
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span> Afficher <select data-ng-model="numPerPage"
									data-ng-options="num for num in numPerPageOpt"
									data-ng-change="onNumPerPageChange()">
								</select> entr&eacute;es par page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm" ng-model="currentPage"
									total-items="filteredQuestion.length" max-size="4"
									ng-change="select(currentPage)" items-per-page="numPerPage"
									rotate="false" boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</table>
			</div>
		</div>
	</div>
</div>