<!-- @Author Zouhair
 -- Author Kenza ABOUAKIL
 -- Détails d'une promotion
 -->
 <!-- Navigation-Details -->
<ul class="page-breadcrumb breadcrumb" ng-hide="edit">
	<li><a href="#/">Accueil</a> <i class="fa fa-circle"></i> </i>
		<li><a href="#">Administration</a> <i class="fa fa-circle"></i></li>
	<li><span class="active">D&eacute;tails d'une promotion</span></li>
</ul>
<!-- END Navigation -->
<!-- Navigation Mise à jour -->
<ul class="page-breadcrumb breadcrumb" ng-show="edit">
	<li><a href="#/">Accueil</a> <i class="fa fa-circle"></i> </i>
		<li><a href="#">Administration</a> <i class="fa fa-circle"></i></li>
	<li><span class="active">Mise &agrave; jour d'une promotion</span></li>
</ul>
<!-- END Navigation -->
<div class="page" ng-controller="PromotionDetailsController as promoDetailCtrl">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-social-dribble font-red"></i> <span
					class="cpation-subject font-red bold uppercase">Promotion</span>
			</div>
		</div>
		<!--------------------------- Consultation --------------------------->
		</br>
		<div ng-hide="promoDetailCtrl.edit">
			<div class="portlet light bordered">
				<div class="caption">
                    <i class="fa fa-info-circle font-blue"></i>
                    <span class="caption-subject font-blue sbold uppercase bold"> Informations g&eacute;n&eacute;rales</span>
                </div></br></br>
				
				<div class="row">
					<div class="col-md-6">
						<label class="col-md-4 control-label bold">Ann&eacute;e</label>
						<div class="col-md-2">{{promoDetailCtrl.promotion.promotionPK.anneeUniversitaire}}</div>
					</div>
					<div class="col-md-6">
						<label class="col-md-4 control-label bold">Nombre max d'&eacute;tudiants</label>
						<div class="col-md-2">{{promoDetailCtrl.promotion.nbMaxEtudiant}}</div>
					</div>
				</div></br>
				<div class="row">
					<div class="col-md-6">
						<label class="col-md-4 control-label bold">Formation</label>
						<div class="col-md-2">{{promoDetailCtrl.promotion.promotionPK.codeFormation}}</div>
					</div>
					<div class="col-md-6">
						<label class="col-md-4 control-label">Date de rentr&eacute;e</label>
						<div class="col-md-2">{{promoDetailCtrl.promotion.dateRentree | date: "dd/MM/yyyy"}}</div>
					</div>
				</div></br>
				<div class="row">
					<div class="col-md-6">
						<label class="col-md-4 control-label bold">Sigle</label>
						<div class="col-md-2">{{promoDetailCtrl.promotion.siglePromotion}}</div>
					</div>
					<div class="col-md-6">
						<label class="col-md-4 control-label bold">Lieu de rentr&eacute;e</label>
						<div class="col-md-2">{{promoDetailCtrl.promotion.lieuRentree}}</div>
					</div>
				</div></br>
				<div class="row">
					<div class="col-md-6">
						<label class="col-md-4 control-label bold">Responsable</label>
						<div class="col-md-3">{{promoDetailCtrl.responsable.nom}} {{promoDetailCtrl.responsable.prenom}}</div>
					</div>
					<div class="col-md-6">
						<label class="col-md-4 control-label bold">Processus de stage</label>
						<div class="col-md-3">{{promoDetailCtrl.processusSignification}}</div>
					</div>
				</div></br>
				<div class="row">
					<div class="col-md-12">
						<label class="col-md-2 control-label bold">Commentaire</label>
						<div class="col-md-10">{{promoDetailCtrl.promotion.commentaire}}</div>
					</div>
				</div></br>
			</div>
		
			<!--------------------------- Liste des étudiants --------------------------->
			<div class="portlet light ens-edit" ng-show="promoDetailCtrl.promotion.etudiantCollection.length">
				<div class="row">
					<div class="col-md-9" >
						<div class="caption">
                             <i class="fa fa-group font-blue"></i>
                             <span class="caption-subject font-blue sbold uppercase bold">Etudiants de la promotion</span>
                         </div>
						
						<table class="table table-hover"></br></br>
							<thead>
								<tr>
									<th>Num &eacute;tudiant</th>
									<th>Nom</th>
									<th>Pr&eacute;nom</th>
									<th>Date de naissance</th>
									<th>E-mail</th>
								</tr>
							</thead>
							<tbody>
								<tr class="hovered" ng-repeat="e in promoDetailCtrl.promotion.etudiantCollection" ng-click="promoDetailCtrl.etudiantDetails(e.noEtudiant)" style="cursor:pointer">
									<td>{{e.noEtudiant}}</td>
									<td>{{e.nom}}</td>
									<td>{{e.prenom}}</td>
									<td>{{e.dateNaissance}}</td>
									<td>{{e.emailUbo}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>			
			</div>
			<a class="btn btn-primary" href="#/promotions">
				<span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
			<button class="btn btn-warning pull-right" ng-click="promoDetailCtrl.edition()">
				<span class="glyphicon glyphicon-pencil"></span> Editer
			</button>
		</div>

	<!--------------------------- Edition --------------------------->
	<div ng-show="promoDetailCtrl.edit">
		<div class="portlet light bordered">
				<div class="caption" ng-hide="promoDetailCtrl.ajout">
                    <i class="fa fa-gears font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase bold"> Mise &agrave; jour</span>
                </div>
                <div class="caption" ng-show="promoDetailCtrl.ajout">
                    <i class="fa fa-plus font-blue"></i>
                    <span class="caption-subject font-blue sbold uppercase bold"> Nouvelle promotion </span>
                </div>
                </br></br></br>
					<form class="form-body" name="promotionForm">
						<div class="row">
							<div class="col-md-6">
								<label class="col-md-4 bold">Ann&eacute;e <span id="required-field"> *</span></label>
								<div form-group class="form-group" form-group-class="has-feedback">
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
											<input  type="text" class="form-control" name="anneeUniversitaire"
													ng-model="promoDetailCtrl.promotion.promotionPK.anneeUniversitaire" ng-readonly="!promoDetailCtrl.ajout" maxlength="9"
													mask='2399-2399' repeat="9" restrict="reject" validate="false"
													ng-pattern="/^[1,2][0-9][0-9][0-9]-[1,2][0-9][0-9][0-9]$/"
													ng-em-required="Champ obligatoire" 
													ng-em-pattern="Type invalide"  
													placeholder="yyyy-yyyy" required>
										</div>
										<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="promotionForm.anneeUniversitaire.$valid"></span>
		                    			<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="promotionForm.anneeUniversitaire.$invalid"></span>
									</div>
								</div>
							</div>
							
							<div class="col-md-6">
								<label class="col-md-4 bold">Nombre max d'&eacute;tudiants <span id="required-field"> *</span></label>
								<div form-group class="form-group" form-group-class="has-feedback">
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-users"></i></span>
											<input  type="number" class="form-control"
													name="nbMaxEtudiant" ng-model="promoDetailCtrl.promotion.nbMaxEtudiant" 
													validate="false" mask="999"
													ng-pattern="/^[0-9]+$/"
													ng-em-required="Champ obligatoire" 
													ng-em-pattern="Type invalide"
													required>
										</div>
										<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="promotionForm.nbMaxEtudiant.$valid"></span>
	                    				<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="promotionForm.nbMaxEtudiant.$invalid"></span>
									</div>
	                    		</div>
							</div>
						</div></br>
						<div class="row">
							<div class="col-md-6">
								<label class="col-md-4 bold">Formation <span id="required-field"> *</span></label>
								<div form-group class="form-group" form-group-class="has-feedback">
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-graduation"></i></span>
											<select class="form-control" ng-disabled="!promoDetailCtrl.ajout"
													ng-options="f as (f.codeFormation+'') for f in promoDetailCtrl.formations"
													name="codeFormation" ng-model="promoDetailCtrl.formationSelected"
													required></select>
										</div>
										<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="promotionForm.codeFormation.$valid"></span>
		                    			<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="promotionForm.codeFormation.$invalid"></span>
									</div>
								</div>
							</div>
							<div class="col-md-6"> 
								<label class="col-md-4">Date de rentr&eacute;e</label>
								<div form-group class="form-group" form-group-class="has-feedback">
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
											<input 	type="text" class="form-control"
													name="dateRentree" ng-model="promoDetailCtrl.dateRentree"
													placeholder="dd/mm/yyyy"
													mask="39/19/2999" restrict="reject" validate="false"
													ng-pattern="/^[0-3][0-9]/[0,1][0-9]/[1,2][0-9][0-9][0-9]$/"
													ng-em-required="Champ obligatoire" 
													ng-em-pattern="Type invalide">
										</div>
										<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="promotionForm.dateRentree.$valid"></span>
		                    			<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="promotionForm.dateRentree.$invalid"></span>
									</div>
								</div>
							</div>
						</div></br>
						<div class="row">
							<div class="col-md-6">
								<label class="col-md-4 bold">Sigle</label>
								<div form-group class="form-group" form-group-class="has-feedback">
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-bookmark-o"></i></span>
											<input 	type="text" class="form-control"
													name="siglePromotion" ng-model="promoDetailCtrl.promotion.siglePromotion"
													mask='*' repeat="56" restrict="reject" validate="false"
													ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9_]+$/"
													ng-em-pattern="Type invalide">
										</div>
										<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="promotionForm.siglePromotion.$valid"></span>
		                    			<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="promotionForm.siglePromotion.$invalid"></span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<label class="col-md-4 bold">Lieu de rentr&eacute;e</label>
								<div form-group class="form-group" form-group-class="has-feedback">
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-pointer"></i></span>
											<input 	type="text" class="form-control"
													name="lieuRentree" ng-model="promoDetailCtrl.promotion.lieuRentree"
													mask='*' repeat="56" restrict="reject" validate="false"
													ng-pattern="/^[a-zA-Z0-9\-.']+$/"
													ng-em-required="Champ obligatoire" 
													ng-em-pattern="Type invalide">
										</div>
										<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="promotionForm.siglePromotion.$valid"></span>
		                    			<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="promotionForm.siglePromotion.$invalid"></span>
									</div>
								</div>
							</div>
						</div></br>
						<div class="row">
							<div class="col-md-6">
								<label class="col-md-4 bold">Responsable</label>
								<div form-group class="form-group" form-group-class="has-feedback">
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user-md"></i></span>
											<select class="form-control" name="listEnseignants" ng-model="promoDetailCtrl.enseignantSelected" ng-options="e as (e.nom +' '+ e.prenom) for e in promoDetailCtrl.enseignants track by e.noEnseignant"/>
										</div>
										<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="promotionForm.listEnseignants.$valid"></span>
		                    			<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="promotionForm.listEnseignants.$invalid"></span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<label class="col-md-4 bold">Processus de stage</label>
								<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-calculator"></i></span>
											<select class="form-control" ng-model="promoDetailCtrl.processusStageSelected" name="processusStage" ng-options="p as (p.rvMeaning+'') for p in promoDetailCtrl.processusStage"></select>
										</div>
										<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="promotionForm.processusStage.$valid"></span>
		                    			<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="promotionForm.processusStage.$invalid"></span>
								</div>
							</div>
						</div></br>
						<div class="row">
							<div class="col-md-10">
								<label class="col-md-2 bold">Commentaire</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
									<input type="text" class="form-control" name="commentaire" ng-model="promoDetailCtrl.promotion.commentaire">
								</div>
								<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="promotionForm.commentaire.$valid"></span>
	                    		<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="promotionForm.commentaire.$invalid"></span>
							</div>
						</div></br>
					</form>
				</div></br>
				<div class="form-group">
					<a class="btn btn-success pull-right" ng-click="promoDetailCtrl.submit()"
						ng-disabled="promotionForm.$invalid">
					<span class="glyphicon glyphicon-ok"></span> Valider</a>
					<a class="btn btn-primary" href="#/promotions"><span class="glyphicon glyphicon-arrow-left"></span>Annuler</a>
				</div></br>
		</div>
	</div>
</div>
