<!-- 
 -- Author Kenza ABOUAKIL
 -- Détails d'une rubrique
 -->
<!-- Navigation Mise à jour -->
<ul class="page-breadcrumb breadcrumb">
	<li><a href="#/">Accueil</a> <i class="fa fa-circle"></i> </i>
		<li><a href="#">Administration</a> <i class="fa fa-circle"></i></li>
	<li><span class="active">Mise &agrave; jour d'une rubrique standard</span></li>
</ul>
<!-- END Navigation -->
<div class="page" ng-controller="RubriqueDetailsController">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-social-dribble font-red"></i> <span
					class="cpation-subject font-red bold uppercase">Mise &agrave; jour rubrique standard</span>
			</div>
		</div>
		<!--------------------------- Edition --------------------------->
		<div>
			<br>
			<form class="form-horizontal" name="editForm">
				<div class="form-group">
					<label for="" class="col-sm-2">Designation<span
						id="required-field">*</span></label>
					<div class="col-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-info"></i>
                        		</span>
							<input 
								type="text"
								class="form-control" 
								name="designation"
								ng-model="rubrique.designation"
								mask='#' 
								repeat="28" 
								restrict="reject" 
								validate="false"
								ng-pattern="/^[A-Za-z' \-]+$/" 
								ng-em-required="C'est un champ obigatoire"
		      					ng-em-pattern="Format incorrect! exemple: Cours"
		      					placeholder="Designation de la rubrique"  
		      					required/>
		      			</div>
		      			<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="editForm.designation.$valid"></span>
                		<span class="glyphicon glyphicon-remove form-control-feedback text-danger" ng-show="editForm.designation.$invalid"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2">Ordre<span
						id="required-field">*</span></label>
					<div class="col-sm-10">
						<input type="number" class="form-control" name="ordre"
							ng-model="rubrique.ordre" required>
					</div>
				</div>
			</form>
			<button class="btn btn-danger" ng-click="cancel()">Annuler</button>
			<button ng-click="submit()" class="btn btn-success pull-right"
				ng-disabled="editForm.idRubrique.$dirty && editForm.idRubrique.$invalid  
												|| editForm.designation.$dirty && editForm.designation.$invalid
												|| editForm.type.$dirty && editForm.type.$invalid
												|| editForm.ordre.$dirty && editForm.ordre.$invalid
												|| editForm.idRubrique.$error.required
												|| editForm.designation.$error.required
												|| editForm.type.$error.required
												|| editForm.ordre.$error.required">Valider</button>
			<!-- <a class="btn btn-success" ng-click="submit()"><span
					class="glyphicon glyphicon-ok"></span> Valider</a> -->
		</div>
	</div>
</div>